@page
@model FilmesCRUDRazor.Pages.Filmes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
   <div class="row">
      <div class="col-md-12">
         <h2>Fimes Top+</h2>
         <p>
            <a class="btn btn-primary"  asp-page="Create">
            Adicionar Filme
            </a>
         </p>
         <div class="table-responsive">
            <table class="table table-striped">
               <thead>
                  <tr>
                     <th class="text-center">
                        @Html.DisplayNameFor(model => model.Filme[0].Titulo)
                     </th>
                     <th class="text-center">
                        @Html.DisplayNameFor(model => model.Filme[0].DataLancamento)
                     </th>
                     <th class="text-center">
                        @Html.DisplayNameFor(model => model.Filme[0].Genero)
                     </th>
                     <th class="text-center">
                        @Html.DisplayNameFor(model => model.Filme[0].Preco)
                     </th>
                     <th class="text-center">Ações</th>
                  </tr>
               </thead>
               <tbody>
                  @foreach (var item in Model.Filme) 
                {
                  <tr>
                     <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Titulo)
                     </td>
                     <td class="text-center">
                        @Html.DisplayFor(modelItem => item.DataLancamento)
                     </td>
                     <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Genero)
                     </td>
                     <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Preco)
                     </td>
                     <td class="text-center">
                        <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.FilmeId"><i class="fas fa-plus"></i>Editar</a> |
                        <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.FilmeId">Detalhes</a> |
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.FilmeId">Excluir</a>
                     </td>
                  </tr>
                }
               </tbody>
            </table>
            <div class="clearfix"></div>
            <nav aria-label="Page navigation example">
               <ul class="pagination">
                  <li class="page-item">
                     <a class="page-link" href="#" aria-label="Previous">
                     <span aria-hidden="true">&laquo;</span>
                     <span class="sr-only">Previous</span>
                     </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                     <a class="page-link" href="#" aria-label="Next">
                     <span aria-hidden="true">&raquo;</span>
                     <span class="sr-only">Next</span>
                     </a>
                  </li>
               </ul>
            </nav>
         </div>
      </div>
   </div>
</div>